@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Roboto';
      font-weight: 800;
      src: url(./fonts/Roboto/Roboto-Bold.ttf) format("truetype");
        }
    @font-face {
      font-family: 'digitaldream';
      font-weight: 800;
      src: url(./fonts/DigitalDream/DIGITALDREAMFAT.ttf) format("truetype");
        }
  }